.logo{
	width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

header{
	background-color: #FFFFFF;
    text-align: center;
}


.nav-btn,
.nav-btn:link,
.nav-btn:visited{
	display: block;
	height: 40px;
	width: 40px;
	position: absolute;
	top: 10px;	
	right: 5%;
	background: #FFFFFF url("nav-icon.svg") no-repeat center center;
	/* background-color || background-image || background-repeat || background-position*/
}

.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active{
	background-color: #FFFFFF;
}

.nav-btn[data-state="active"] {
	background: #FFFFFF url("nav-close.svg") no-repeat center center;
}

.nav a, 
.nav a:link,
.nav a:visited{
	display: block;
	padding: .5rem;
	text-align:center;
	color: #000000;
	text-decoration: none;
	/* border-width || border-style || border-color */
}

.nav a:hover,
.nav a:focus,
.nav a:active{
	color: #707070;
}

/* Toggle Nav*/

.nav-top{
	max-height: 0;
	-moz-transition: all 250ms linear;
	-o-transition: all 250ms linear;
	-webkit-transition: all 250ms linear;
	transition: all 250ms linear;
	overflow:hidden;
}

.nav-top[data-state="expanded"]{
	max-height: 20rem;
}
	
@media only screen and (min-width: 30em){
	.nav-btn,
	.nav-btn:link,
	.nav-btn:visited{
		display: none;
	}
	
	.nav-top{
		max-height: 5rem;
	}
	
	.nav li{
		display: inline-block;
	}
		
	.nav-top{
		float: right;
		margin-right: 5%;
	}
}

@media only screen and (min-width: 35em){
	.nav{
		text-align: center;
	}
	
	.nav li{
		display: inline-block;
		float: none;
		margin: 0;
		width:auto;
	}
	
	.nav a, 
	.nav a:link,
	.nav a:visited{
		border-top: 0;
	}
	
	.nav-top{
		float: right;
		margin-right: 5%;
	}
}