---
layout: default
title: Home
meta: "Providing any news, updates, and sales for Urban Adornments."
showbanner: yes
bannertext: Urban Adornments
---
<main role="main">
<h1 class="yotta">Sale!</h1>
	<div class="grid">
		<div class='gutter unit unit-s-1 unit-m-1-3 unit-l-1-3'>
			{% include promo-small.html title="Lamp Promo" desc="Amazing deals on all square lamps!" image="promo/lamp.jpg" %}
		</div>

		<div class='gutter unit unit-s-1 unit-m-1-3 unit-l-1-3'>
			{% include promo-small.html title="Couch Promo" desc="Brand new leather couch! HALF PRICE!" image="promo/couch.jpg" %}
		</div>

		<div class='gutter unit unit-s-1 unit-m-1-3 unit-l-1-3'>
			{% include promo-small.html title="Wall Promo" desc="Turn your wall into a piece of art!" image="promo/wall.jpg" %}
		</div>

	</div>
</main>
