---
layout: default
title: Home
meta: "Providing any news, updates, and sales for Urban Adornments."
showbanner: yes
bannertext: Urban Adornments
---
<main role="main">
<h1 class="yotta">Sale!</h1>
	<div class="grid">
		<div class='gutter unit unit-s-1 unit-m-1-2 unit-l-1-3'>
			{% include promo-small.html title="Lamp Promo" desc="Amazing deals on all lamps!" image="lamps/olive-lamp.svg" %}
		</div>

		<div class='gutter unit unit-s-1 unit-m-1-2 unit-l-1-3'>
			{% include promo-small.html title="Couch Promo" desc="Brand new couch! HALF PRICE!" image="couches/ivory-couch.svg" %}
		</div>

		<div class='gutter unit unit-s-1 unit-m-1-2 unit-l-1-3'>
			{% include promo-small.html title="Cushion Promo" desc="Add a little colour to your couch!" image="cushions/camo-cushion.svg" %}
		</div>

	</div>
</main>
