<div class="product">

  <div class="media">
    <div class="media-img media-img-stacked">
      <img class="img-flex" src="http://placehold.it/300x300" alt="">
    </div>
    <div class="media-body">
      <h2 class="mega space-none">{{include.title}}</h2>
      <p>{{include.desc}}</p>
    </div>
  </div>

  <ul class="list-group">
    <li class="list-group-item list-group-item-inline">
      <img src="http://placehold.it/32x32/ffff00" alt="">
    </li>
    <li class="list-group-item list-group-item-inline">
      <img src="http://placehold.it/32x32/ff00ff" alt="">
    </li>
    <li class="list-group-item list-group-item-inline">
      <img src="http://placehold.it/32x32/00ffff" alt="">
    </li>
  </ul>

  <a class="btn" href="#">Buy Now!</a>

</div>

