# Accessibility Testing Report

User testing was conducted by Samantha McClelland on April 2, 2104 between the times of 4:00pm and 5:00pm with the following participants:

- Sarah Hodgson
- Rachel Lin
- Sarah Bootsma
- Shelley Babij
- Madeleine Gagne
- Chelsea Smith

## Tasks

1. Search anything.
2. Buy a Product.
3. Buy a Promo from the home page.

---

## Individual Results & Observations

### Sarah Hodgson (tab)

- {She completed the tasks as expected.}

### Rachel Lin (tab)

- {She completed the tasks as expected.}

### Sarah Bootsma (tab)

- {She completed the tasks as expected.}

### Shelley Babij (listen)

- {She completed the tasks as expected.}

### Madeleine Gagne (listen)

- {She completed the tasks as expected.}

### Chelsea Smith

- {She completed the tasks as expected.}

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had no problems.}

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed by passing by too quickly while tabbing through the page.}

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency - Could change the focus for the search bar.}
