# User Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- {Sarah Hodgson}
- {Rachel Lin}
- {Sarah Bootsma}

## Tasks

1. Use the search box.
2. Buy a product.
3. Buy one of the promos on the home page.

---

## Individual Results & Observations

### {Sarah Hodgson}

- She clicked on the links as expected.

### {Rachel Lin}

- She clicked on the links as expected.

### {Sarah Bootsma}

- She clicked on the links as expected.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- None

### Serious, Causes Frustration, May Hinder Completion

- None

### Minor, Annoying, Won’t Hinder Completion

- None
