.masthead {
  background-color: #ac998b;
}

.logo {
  margin: 0 auto;
  max-width: 256px;
}

@media only screen and (min-width: 50em) {

  .logo {
    margin: 0;
  }

}

.nav {
  text-align: right;
  width: 100%;
}

.nav a {
  display: inline-block;
  margin: 0.5em;
  margin-bottom: 1rem;
}

.banner{
  background: #ac998b url("../images/banner.jpg") no-repeat;
  background-size:cover;
  padding: .5rem;
  text-align: center;
  color:#fff;

}

.banner h1{
  color:#fff;
}

.current{
  border-bottom: solid;
  color: #666;
  border-bottom-color: #666;
}.
@media only screen and (min-width: 50em) {

  .nav {
    margin-top: 0;
    text-align: right;
  }

}

.search-nav ul li{
  float: left;
  width: 100%;
  height: 30px;
  list-style-type: none;
  text-decoration: none;
}


