.product-desc{
	background-color: #ac998b;
	width: 267px;
	margin: .75rem;
	padding: 1rem;
}

.quantity{
	margin-bottom: 2rem;
}

.quantity-size{
	font-size: 1rem;
}

.total-size{
	font-size: 1.5rem;
}

.button-size{
	font-size: 100%;

}
