---
layout: default
title: products
---
<main role="main">
	<div class="grid">
		<div class="gutter unit unit-s-1 unit-m-1 unit-l-1">
			<h1>All Products</h1>
		</div>
	</div>
	<div class="grid">
		<div class="unit unit-s-1 unit-m-1 unit-l-1">
				<div class="gutter heading pad-b-2">
					<a href="{{site.baseurl}}/products/couches"><h2>Couches</h2></a>
				</div>
				{% include product-list.html type='couches' %}
		</div>
		<div class="unit unit-s-1 unit-m-1 unit-l-1">
			<div class="gutter heading pad-b-2">
				<a href="{{site.baseurl}}/products/lamps"><h2>Lamps</h2></a>
			</div>
				{% include product-list.html type='lamps' %}
		</div>
		
		<div class="unit unit-s-1 unit-m-1 unit-l-1">
			<div class="gutter heading pad-b-2">
				<a href="{{site.baseurl}}/products/wall-decor"><h2>Wall Decor</h2></a>
			</div>
				{% include product-list.html type='wall-decor' %}
		</div>
	</div>
</main>